#login_wrp{ border-radius: 8px; display: none; background-color: #f2f2f2; position: fixed; top: 100px; padding: 40px 25px 25px 25px; width: 350px; z-index: 999; left: 50%; margin-left: -200px; }
/*form#login p.status{ display: none; }*/
form#login{ display: block; overflow: hidden; }
.login_overlay{ height: 100%; width: 100%; background-color: #Fff; opacity: 0.8; position: fixed; z-index: 998; }
.form_title{width:100%; text-align:center;}
.divider{display:block; width:90%; height:.08em; color: #f37028; position_relative; margin-left:auto; margin-right:auto; background-color: #ccc; margin-top: 2em; margin-bottom: 0em;}
.reg_user_btn{cursor:pointer;}
.reg_user_btn:hover{text-decoration:underline;}
/* Imput Style */

#login_wrp input{ width: 100%; height: auto; font-size: 1em; padding: 0px; color: #f37028; padding-left: .2em; padding-right: .2em; margin-top: .3em; margin-bottom: .3em; line-height: 2em; border: 0px; padding-left: 1em; padding-right: 1em;}
#login_wrp .submit_button{ background-color: #f37028; border: 0px; float: right; color: #ffffff; text-transform: uppercase; margin-bottom: 2em; }
#login_wrp a{ color:#f37028; text-decoration:none; font-size: .85em; }
#login_wrp a:hover{ text-decoration:underline; }
#login_wrp a .fa{ color:#f37028; font-size: 1.3em; margin-right: .3em;}


.help-block small{ width: 100%; text-align: center; display: block; font-size: 67%; text-align:right; }

/* Accordion Effect */

.vb-registration-form, .login_form_wrp{ max-height: 0; display: block; overflow: hidden;
    -moz-transition: .5s; -ms-transition: .5s; -o-transition: .5s; -webkit-transition: .5s;  transition: .5s;
}
.reg_panel_open, .log_panel_open{ max-height: 30em; }

/* Errori */
.log_error_message{ text-align:center; background-color:#f37028; color:#fff; padding:.2em;}